{% extends "freeme/index.html" %}
{% block cuerpo %}
    <div class="well" style="margin-left: 30px; margin-right: 30px">
        <div style="margin-left: 10px; margin-right: 10px">
            <label for="" class="label label-info" style="padding: 5px; text-align: center">SECCIÓN DE NOTICIAS</label>
        </div>
        <div class="well" style="margin-left: 10px; margin-right: 10px">
        {% for noticia in noticias %}
            <div class="row" style="padding: 20px">
                <div class="span2">
                    <a href="/Noticias/{{ noticia.id }}"><img src="/media/{{ noticia.imagen }}" class="thumbnail" alt="" style="width: 100%"/></a>
                </div>
                <div class="span8" style="margin-top: -20px">
                    <h3><a href="/Noticias/{{ noticia.id }}" style="color: #3A87AD">{{ noticia.titulo }}</a></h3>
                    <p style="text-align: justify">{{ noticia.descripcion }}</p>
                    <p style="font-size: 9px"><a href="/Noticias/{{ noticia.id }}" style="color: #3A87AD" >Leer mas...</a></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div style="height: 30px">
    </div>
{% endblock %}