{% extends "freeme/index.html" %}
{% block cuerpo %}
    <div class="well" style="margin-left: 30px; margin-right: 30px">
        <label for="" class="label label-info" style="text-align: center; padding: 5px">UBICACIÓN GEOGRÁFICA</label>
         <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d3983.105201822566!2d-79.805404!3d-3.3241769999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!1i0!3e6!4m0!4m5!1s0x9033145fba6bef23%3A0x8e0b115f66d8f669!2sSindicato+de+Choferes+Pasaje%2C+Pasaje%2C+Ecuador!3m2!1d-3.3241769999999997!2d-79.805404!5e0!3m2!1ses!2sus!4v1423956192462" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    </div>

    <br/>
    <div class="well" style="margin-right: 30px; margin-left: 30px">
        <label class="label label-info" style="text-align: center;padding: 5px">CONTÁCTENOS </label>
        <p>Correo electrónico: esc.capac.choferes.@hotmail.com</p>
        <p>&nbsp; Rocafuerte y Olmedo Esquina</p>
        <p>&nbsp; Teléfono: 07-2915-298</p>
    </div>
    <div style="height: 30px">

    </div>


{% endblock %}