{% extends "freeme/index.html" %}
{% block cuerpo %}
     <div style="padding: 20px; margin-left: 30px; margin-right: 30px" class="well">
            <div class="row" style="font-size: 14px; margin-left: 10px">
                <label for="" class="label label-info" style="padding: 5px; text-align: center">REQUISITOS PARA LA MATRICULA</label>
            </div>
            <div class="row well" style="margin-left: 10px; background-color: #ffffff">
                <ul>
                    <li>2 copias de la Cédula de Identidad</li>
                    <li>1 copia del Certificado de votación</li>
                    <li>1 Copia del Título de Bachiller, Certificada por el Distrito de Educación Provincial,
                        en caso de no contar con este requerimiento, traer certificación original de haber cursado
                        el Primer Año de Bachilerato</li>
                    <li>Tipo de Sangre de la Cruz Roja y 1 copia a color</li>
                    <li>4 Fotos tamaño carnet</li>
                    <li>Record Policial</li>
                    <li>Comprobante de Pago de Matricula</li>
                    <li>Acuerdo de Compromiso</li>
                    <li>Hoja impresa de la matricula generada por el sistema</li>
                    <li>Aprobar el examen psicosensométrico en las instalaciones de la escuela de capacitación</li>
                    <li>Aprobar el examen psicológico en las instalaciones de la escuela de capacitación</li>
                    <li>Certificado médico (centro médico autorizado del M.S.P)</li>
                </ul>
            </div>
            <div class="row" style="font-size: 14px">
                <label for="" class="label label-info" style="padding: 5px; text-align: center; margin-left: 28px">HORARIOS A ELEGIR</label>
            </div>
            <div class="row well" style="padding: 10px; margin-left: 10px; background-color: #ffffff">
                <ul>
                    <li>Lunes a Viernes de 18:30 a 22:30 (6 meses)</li>
                    <li>Sábados y Domingos de 8:00 a 13:00 (7 meses)</li>
                </ul>
            </div>
        </div>
    <div style="height: 30px">

    </div>
{% endblock %}