{% extends "freeme/index.html" %}
{% block cuerpo %}
    <div class="well" style="margin: 0 auto; margin-top: 10px; margin-left: 30px; margin-right: 30px; padding: 10px">
    <table class="table table-bordered table-hover table-striped" style="text-align: center">
        <thead style="background-color: #5C9BB4; color: #ffffff"><th colspan="3" style="text-align: center;">CREDITOS BÁSICOS</th></thead>
        <thead><th>Módulo</th><th>Horas</th><th style="text-align: justify">Detalle del Módulo</th></thead>
        <tbody>
            <tr><td>1</td><td>64</td><td style="text-align: justify">EDUCACIÓN VÍAL</td></tr>
            <tr><td>3</td><td>32</td><td style="text-align: justify">PSICOLOGÍA APLICADA A LA CONDUCCIÓN</td></tr>
            <tr><td>2</td><td>64</td><td style="text-align: justify">LEY Y REGLAMENTOS DE TRÁNSITOT.T Y S.V.</td></tr>
            <tr><td>4</td><td>16</td><td style="text-align: justify">PRIMEROS AUXILIOS</td></tr>
            <tr><td>5</td><td>16</td><td style="text-align: justify">EDUCACIÓN AMBIENTAL</td></tr>
            <tr><td>6</td><td>48</td><td style="text-align: justify">MECÁNICA BÁSICA</td></tr>
            <tr><td>7</td><td>32</td><td style="text-align: justify">COMPUTACIÓN</td></tr>
            <tr style="font-weight: bold"><td>TOTAL</td><td>272</td><td style="text-align: justify">HORAS ACADÉMICAS</td></tr>
        </tbody>
        <thead style="background-color: #5C9BB4; color: #ffffff"><th colspan="3" style="text-align: center">CATEGORÍA C</th></thead>
        <thead><th>Módulo</th><th>Horas</th><th style="text-align: justify">Detalle del Módulo</th></thead>
        <tbody>
            <tr><td>8</td><td>32</td><td style="text-align: justify">CONDUCCIÓN VEHICULAR</td></tr>
            <tr><td>9</td><td>32</td><td style="text-align: justify">PRÁCTICA CONDUCCIÓN</td></tr>
            <tr><td>10</td><td>32</td><td style="text-align: justify">ATENCIÓN AL CLIENTE</td></tr>
            <tr><td>11</td><td>48</td><td style="text-align: justify">RELACIONES HUMANAS</td></tr>
            <tr><td>12</td><td>32</td><td style="text-align: justify">INGLÉS BÁSICO</td></tr>
            <tr><td>13</td><td>32</td><td style="text-align: justify">GEOGRAFÍA URBANA</td></tr>
            <tr style="font-weight: bold"><td>TOTAL</td><td>208</td><td style="text-align: justify">HORAS ACADÉMICAS</td></tr>
            <tr style="font-weight: bold"><td>TOTAL</td><td>480</td><td style="text-align: justify">HORAS ACADÉMICAS Y PRÁCTICAS LICENCIA TIPO C</td></tr>
        </tbody>


    </table>
    </div>
    <div style="height: 30px">

    </div>
{% endblock %}