{% extends "index.html" %}
{% block cuerpo %}
    <br/><br/>
    <label for="" class="label label-warning" style="font-size:14px; margin-left: 10px ">ESCUELA DE CONDUCCIÓN</label>
    <div style="padding: 10px; margin-left: 10px; margin-right: 10px" class="panel panel-warning">
        <img src="/static/img/fotos_institucion/escuela.jpg" style="width: 100%"/>
    </div>
    <br/>
    <label for="" class="label label-warning" style="font-size: 14px; margin-left: 10px">OTROS SERVICIOS</label>
   <div style="padding: 10px; margin-right: 10px; margin-left: 10px" class="panel panel-warning">
       <ul>
           <li>DEPARTAMENTO JURIDICO</li>
           <li>COMPLEJO DEPORTIVO</li>
           <li>PELUQUERIA</li>
           <li>FUNERARIA</li>
       </ul>
   </div>
{% endblock %}